# Ignore the directory

data/data_borneo/IUCN_Mammal_Ranges

/R_helper_functions

/output


/R_exercises_solutions


.Rproj.user
.Rhistory
R/Course6_demography_population_models/Course6_pop_analysis_solutions.Rmd
