# Ignore the directory

_DataBerlin/animal_data
_DataBerlin/Raster_ascii
_DataBerlin/Raster_future
_DataBerlin/Raster_geotiff
_DataBerlin/Shapefiles

_DataBorneo/BaseMaps
_DataBorneo/BaseRecords
_DataBorneo/FutureMaps
_DataBorneo/IUCN_Mammal_Ranges

/R_helper_functions
/img
/output
